nav{
    background: linear-gradient(to right,#950b0b,#440606);
    color:#FFF;
}
nav .content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}
nav .content ul {
    list-style:none;
    display:flex;
    justify-content: space-between;
    width:20%;
    margin:0;
}
nav .content ul li {
    cursor:pointer;
    font-size:22px;
    color:#FFF;
    text-decoration:none;
}