<div class="box mt-5">
    <h1 class = "lg-title">Special Services Offers</h1>
    <div class="my-2 w-25">
        <app-select [data]="categories" [title]="'Categories'" (selectValue)="FilterProducts($event)"></app-select>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-md-3 col-sm-12" *ngFor="let content of products">
            <div class="item">
                <img src="{{content.image}}" alt="">
                <div class="body">
                    <h4>{{content.title}}</h4>
                    <p>{{content.description}}</p>
                </div>
                <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
                    <button class="btn btn-success" (click)="add(content)">Add To Cart</button>
                    <span>{{content.price}}$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>